<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.idreamsky.ktouchread.bookshelf"
    android:versionCode="1"
    android:versionName="1.2" >

    <application
        android:debuggable="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name" android:name=".KTouchReadApplication">
        <activity
            android:configChanges="orientation|keyboardHidden|navigation"
            android:name=".Book_SplashAct"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter >
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden|navigation"
            android:name=".Book_SplashAct1"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden|navigation"
            android:name="com.idreamsky.ktouchread.bookshelf.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden|navigation"
            android:name="com.idreamsky.ktouchread.bookshelf.AddFile"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" 
            android:label="@string/phoneBook"/>
        <activity
            android:configChanges="orientation|keyboardHidden|navigation"
            android:name="com.idreamsky.ktouchread.bookshelf.BookShelf"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:configChanges="orientation|keyboardHidden|navigation"
            android:name="com.idreamsky.ktouchread.bookshop.BookShopActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:configChanges="orientation|keyboardHidden|navigation"
            android:name="com.idreamsky.ktouchread.bookread.BookReadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme" />
        <activity
            android:configChanges="orientation|keyboardHidden|navigation"
            android:name="com.idreamsky.ktouchread.directoy.DirectoryActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
            />
        <activity
            android:configChanges="orientation|keyboardHidden|navigation"
            android:name="com.idreamsky.ktouchread.bookshelf.Book_System_SettingAct"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:configChanges="orientation|keyboardHidden|navigation"
            android:name="com.idreamsky.ktouchread.bookshelf.UnReadActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" android:label="@string/chapterupdate" />
        <activity
            android:configChanges="orientation|keyboardHidden|navigation"
            android:name="com.idreamsky.ktouchread.bookmarkfactory.BookMarkFactoryActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />

        <service
            android:enabled="true"
            android:name="com.idreamsky.ktouchread.service.ServiceChase" />
        <service
            android:enabled="true"
            android:name="com.idreamsky.ktouchread.service.ServiceBackup" />
        <service
            android:enabled="true"
            android:name="com.idreamsky.ktouchread.service.AddBookService" />
        <service
            android:enabled="true"
            android:name="com.idreamsky.ktouchread.service.Book_System_SettingService" />

        <activity
            android:configChanges="orientation|keyboardHidden|navigation"
            android:name="ReadTabActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:configChanges="keyboardHidden|navigation|orientation"
            android:name="com.idreamsky.ktouchread.bookshop.BookDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:configChanges="keyboardHidden|navigation|orientation"
            android:name="com.idreamsky.ktouchread.bookshop.BookSearchActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:configChanges="keyboardHidden|navigation|orientation"
            android:name="BookDeleteActivity"
            android:screenOrientation="portrait" >
</activity>
        <activity android:name="GetTokenActivity" android:configChanges="keyboardHidden|navigation|orientation" android:screenOrientation="portrait"></activity>

    </application>

    <!-- 添加sdcard权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <use-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </use-permission>
    <use-permission android:name="android.permission.RESTART_PACKAGES" >
    </use-permission>
    <!-- 网络访问 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

</manifest>